In [1]:
import pandas as pd 
import plotly.graph_objs as go 
import plotly.offline as pyo

In [2]:
df = pd.read_csv(r'Data\mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
data = [go.Scatter(
                    x=df['horsepower'], y=df['acceleration'],text=df['mpg'],
                    mode='markers',
                    marker=dict(size=df['displacement']/5, color=df['cylinders'], showscale=True)
                   )
        ]

In [5]:
layout = go.Layout(title='Car performance', xaxis=dict(title='horsepower'), yaxis=dict(title='Acceleration'), hovermode='closest' )

In [6]:
fig = go.Figure(data=data, layout=layout)

In [7]:
pyo.plot(fig, filename='bubble_chart_mpg_horsepower.html')

'bubble_chart_mpg_horsepower_bubble_chart.html'